SITE_URL="https://gshow.globo.com/realities/bbb/bbb-26/voto-da-torcida/votacao/voto-da-torcida-quem-voce-quer-eliminar-do-bbb-26-kvXVTZSQym.ghtml"
LOGIN_URL="https://login.globo.com/login/6870"
CANDIDATO="Breno"

# Usuários (separados por vírgula) necessário pelo menos 2 com a mesma senha
USER_EMAIL=user1@example.com,user2@example.com
USER_PASSWORD=coloque_sua_senha_aqui

# Execução/Chrome (opcional)
BRING_TO_FRONT=0

# DevTools (cada instância precisa de uma porta diferente)
DEBUG_PORT_BASE=9222

# Perfil (em Docker normalmente fica assim)
MAIN_USER_DATA_DIR=C:\chrome-debug-{id}
PROFILE_DIR=Default

# Contador (opcional)
COUNTER_FILE=artifacts/count.txt
KILL_CHROME_ON_RETRY=1

